<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>NovaBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1 th:text="${user} + '; '">HELLO Client @{user}</h1>
<header th:insert="~{blocks/header}"></header>

<a th:href="@{/client/token}">Tokens</a>
<br>
<a th:href="@{/client/idtoken}">IdToken</a>

<div class="container-fluid border">
    <div class="row border">
        <div class="col-3 border">
            <div th:insert="~{blocks/user_block :: userInfo(${user})}"></div>
        </div>
        <div class="col-9 border">
            Колонка
            <form th:method="post"  th:action="@{/client/post}" id="postForm" th:object="${postDto}">
                <div class="mb-3">
                    <input th:type="text" class="form-control" placeholder="Жанр" th:field="*{postText}">
                    <button type="submit" class="btn btn-primary" form="postForm">Добавить</button>
                </div>
            </form>
            <div th:each="onePost:${posts}">
                <div class="row px-2 border">
                    <h5 th:text="${#temporals.format(onePost.dateCreation, 'dd MMMM yyyy HH:mm', new java.util.Locale('ru', 'RU'))}"></h5>
                        <small class="text-muted" th:text="${onePost.postText}"></small>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{blocks/footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>