<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>NovaBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1 th:text="${user} + '; '">HELLO Client @{user}</h1>
<header th:insert="~{blocks/header}"></header>

<a th:href="@{/client/token}">Tokens</a>
<br>
<a th:href="@{/client/idtoken}">IdToken</a>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>