<div th:fragment="userInfo(user)">
    <div class="row border">
        <div class="col-2 border"></div>
        <div class="col-8 border d-grid mx-auto">
    <!--        <img th:src="@{/avatar/{name}(name=${user.avatarName})}" class="rounded mx-auto d-block" alt="...">-->
            <img th:src="@{'/avatars/' + ${user.avatarName}}" class="rounded mx-auto d-block img-fluid">
            <a th:if="${visitStatus.equals('owner')}" th:href="@{/client/edit}" class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                Редактировать
            </a>
        </div>
        <div class="col-2 border"></div>
    </div>
    <div class="row px-4 gap-1 border">
        <!-- Форма добавления в друзья -->
        <form class="container-fluid" th:method="post"  th:action="@{'/client/' + ${user.id} + '/friend'}">
            <button th:if="${visitStatus.equals('guest')}" class="btn btn-primary btn-sm" type="submit">Добавить в друзья</button>
        </form>
        <button th:if="${!visitStatus.equals('owner')}" class="btn btn-primary btn-sm" type="submit">Написать</button>
    </div>

    <div class="row px-2 border">
        <h2 th:text="${user.name}">Name</h2>
    </div>
    <!-- Блок друзей -->
    <div class="row border">
        <div class="border" th:each="friend, postStat : ${user.friends}">
            <img th:src="@{'/avatars/' + ${friend.avatarName}}" alt="mdo" width="35" height="35" class="rounded-circle">
        </div>
    </div>
            <div class="row px-2 border">
                <h5>День рождения:
                    <small class="text-muted" th:text="${#temporals.format(user.birthday, 'dd MMMM yyyy', new java.util.Locale('ru', 'RU'))}"></small>
                </h5>
            </div>
            <div class="row px-2 border">
                <h5>Дата регистрации:
                    <small class="text-muted" th:text="${#temporals.format(user.registrationDate, 'dd MMMM yyyy HH:mm', new java.util.Locale('ru', 'RU'))}"></small>
                </h5>
            </div>
            <div class="row px-2 border">
                <h5>Телефон:
                    <small class="text-muted" th:text="${user.phone}"></small>
                </h5>
            </div>
            <div class="row px-2 border">
                <h5>Email:
                    <small class="text-muted" th:text="${user.email}"></small>
                </h5>
            </div>
            <div class="row px-2 border">
                <h5>Пол:
                    <small class="text-muted" th:text="${user.sex}"></small>
                </h5>
            </div>
</div>